/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

/* Header */
header{
  text-align: center;
}

nav a{
  padding: 0 20px; /* space to the right of each item */
}

.image-circle {
  border-radius: 50%;
  background-color: #003049;
  padding: 2px;
}



/* Body */
body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #eae2b7;
  justify-content: center;
  align-items: center;
}

div{
  text-align: center;
}

/* Heading */
h1 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  font-size: 50px;
}
h2 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  font-size: 35px;
}
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  font-size: 20px;
}

/* Articles */
article {
  padding: 50px 0;
}

article div {
  width: 100%;
}



/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Links - Ordered List */
a:link {color: #d62828;}
a:visited {color: #d62828;}
a:hover {color: #f77f00;}
a:active {color: #d62828;}

.list-inside li{
  list-style-position:inside;
  text-align: left;
}

/* Footer */
footer{
  text-align:center;
}
